@import "Ginkgo";

$color-Lbrown: #CA9564;
$color-brown: #6A3A07;

* {
  &, &:after, &:before {
    vertical-align: middle ;
    @include box-sizing(border-box);
    @include font-smoothing(subpixel-antialiased);
  }
}

html {
  font-size: 13px;
}

body {
  position: relative;

  display: inline-block;
  width: 100%;

  margin: 0;
  padding: 0;
  color: rgba(90, 90, 90, 1.00);
  
  font-weight: 400;
  font-family: 'Roboto', 'Noto Sans TC', "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;

  text-size-adjust: none;
  -webkit-text-size-adjust:none;
}

a {
  text-decoration: none;
}

.type-brow {
  color: $color-brown !important;
}

.type-Lgray {
  color: #bababa !important;
}

.font13 {
  font-size: 13px;
}

.p_ul {
  list-style: decimal-leading-zero;
  padding-left: 23px !important;
}

.pt-use {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}